{% load staticfiles %}

<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <div class="navbar-header">{% block header %}
                <a class="navbar-brand" href="">Welcome to ChatApp</a>
             {% endblock %}</div>

            <!..Items
            <div class="collapse navbar-collapse" id="#topNavBar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="">
                        <a href="/register/">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;Sign up
                        </a>
                    </li>
                     <li class=""> {% block btn %}
                        <a href="/login/">
                           <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;Login
                        </a>
                    {% endblock %}</li>
                </ul>
            </div>
        </div>
    </nav>
{% block content %}
{% endblock %}
</body>
</html>
